		<script>
			// Messages on Records 
		    <% if(msg === 'saved'){ %>
				  toastr.success('', 'Record Saved Successfully!');					 
			<% }%>

             <% if(msg === 'deleted'){ %>
				  toastr.success('', 'Record Deleted Successfully!');					 
			<% }%>

			<% if(msg === 'failed'){ %>
				toastr.danger('', 'Saving failed!');					 
			<% }%>		
			
			<% if(msg === 'noscript'){ %>
				toastr.success('', 'No Transcript Records for Student');
				window.close();									 
			<% }%>	
			<% if(msg === 'nots'){ %>
				toastr.success('', 'No Payment Transactions recorded on Student');
				window.close();									 
			<% }%>
			
			<% if(msg === 'pwd'){ %>
				toastr.success('', 'Student Password Reset Successfully!');
				window.close();									 
			<% }%>

			$(function(){

				$('#excel').on('change',function(){
				    var cm = confirm('Do you want to upload New Batch of Students?');
					if(cm != false){
						$('#excelform').submit();
					}					
				});
			});
		</script>


			<div class="row">				
                <div class="col-sm-12">				
				<!-- Main Content -->	
				<h5><a class="btn btn-primary" href="/student/add" title="Add New Student" onclick="if(!confirm('Add New Student?'))return false;"><i class="fa fa-user-plus"></i> Add Student</a>
				    <a href="javascript:;" onclick="document.getElementById('excel').click()" class="btn btn-info" style="margin:0 1px"><i class="fa fa-upload"></i> <b>UPLOAD STUDENTS ( EXCEL )</b></a>
					<form style="display:inline;margin:0" action="/student/excel" method="post" enctype="multipart/form-data" id="excelform"> 
						<input type="file"  name="excel" id="excel" style="display:none;"/>
					</form> 
					<a href="/public/std_sample.xls" class="btn btn-info" style="margin:0 1px"><i class="fa fa-download"></i> <b>EXCEL SAMPLE</b></a>
					<a href="javascript:;" onclick="var p = prompt('Enter Student Index Number!'); if(p != null){ location.href='/st_reset/'+p}else{return false;}" class="btn btn-warning" style="margin:0 1px"><i class="fa fa-refresh"></i> <b>PWD Reset</b></a>
					
				</h5>
				
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover dataTable server">
						<thead>
							<tr>
								<th>Photo</th>
								<th>Name</th>
								<th>ID</th>
								<th>Gender</th>
								<th>Date of Birth</th>
								<th>Class</th>                                                
								<th>Programme</th>
								<th>Action</th>		
								<th>Phone</th>
								<th>Address</th>					
							</tr>
						</thead>
					</table>
				</div>			   
                <!-- #END# Exportable Table -->
		  </div>
		</div>