            </div>     
				<div class="page-footer hidden-print">
                    <p class="no-s"><small class="pull-left" style="font-size:13px;font-weight:bolder;font-style:italic;"> &copy; <%= new Date().getFullYear() %> All rights reserved, UHMS.</small><b class="pull-right" style="display:none">POWERED BY <img class="" src="/public/ad_assets/img/ksoft.png" style="height:50px;" alt="K-Soft GH - 0248577384" onclick="alert('Contact K-SOft GH for your Customized Software!\n\nWe Build : Android Apps, Web applications, Desktop applications, Websites, E-commerce Sites!\n\nServices: Data Migration - All Databases, Data Collection apps, Data Management & Analysis, IT Training services for the Home!\n\nPhone: 0248577384, 0245776265, 0204186079\nE-mail: info@ksoftgh.com, ksoftghltd@gmail.com\nWebsite: www.ksoftgh.com\n\nCreating with Style!')"/><b></p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
    </body>
</html>