<%- include('admin/header.ejs');%>	
	<section class="generic <%= view%>">
	     <div class="body">					
			 <%- include('admin/'+view+'.ejs'); %>
		 </div>
	</section>
<%- include('admin/footer.ejs');%>