<section>  
    <ul class="list-group">
        <li class="list-group-item">
            <center><strong>STUDENT SEARCH</strong></center>
        </li>                                            
        <li class="list-group-item">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="indexno" class="form-control" placeholder="Enter ID Number or Name ...">
                </div><br> 
                <center><button type="button" id="indexgo" class="btn btn-primary"><b>SEARCH</b></button></center>
            </div>                                               
        </li>                                                                                                    
    </ul>
</section>