<section>  
    <ul class="list-group">
        <li class="list-group-item">
            <center><strong>INDEX NUMBER</strong></center>
        </li>                                            
        <li class="list-group-item">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="indexno" class="form-control" placeholder="Enter Index Number of Student...">
                </div><br> 
                <center><button type="button" id="indexgo" class="btn btn-primary">GO</button></center>
            </div>                                               
        </li>                                                                                                    
    </ul>
</section>